<section class="main-section">
  <div class="container">
    <div class="row" *ngIf="updatMessage !== undefined">
        <div class="col">
          <alert type="success">
            <strong>!</strong> {{ updatMessage }}
          </alert>
        </div>
      </div>
    <div class="row">
      <div class='col-md-3'></div>
      <div class="col-md-6">
        <div class="login-box well">
          <form [formGroup]="profileForm" (ngSubmit)="profileSubmit()">
            <div *ngIf='name.errors?.required && profileForm.invalid && name.touched'>
              <alert type="danger">
                <strong>!</strong> Name is required.
              </alert>
            </div>
            <div *ngIf='api.errors?.required && profileForm.invalid && api.touched'>
              <alert type="danger">
                <strong>!</strong> API is required.
              </alert>
            </div>
            <div *ngIf='cache.errors?.required && profileForm.invalid && cache.touched'>
                <alert type="danger">
                  <strong>!</strong> Expiry time cant be empty.
                </alert>
              </div>
            <div class="form-group">
              <label for="username"> Name</label>
              <input value='' [(ngModel)]="userObj.name" id="username" placeholder="Name" type="text" name='name' class="form-control"
                formControlName="name" />
            </div>
            <div class="form-group">
              <label for="api">Weather API </label>
              <input id="api" value='' [(ngModel)]="userObj.api" placeholder="Weather API" type="text" class="form-control" formControlName="api" />
            </div>
            <div class="form-group">
              <label>Service Calls </label>
            </div>
            <div class="form-group">
              <button type="button" id="cache_app" [disabled]='!profileForm.valid' (click)='clearCache()' class="btn btn-primary btn-block m-t-md">Clear Cache</button>
            </div>
            <div class="form-group">
              <label for="api">Cache Validation Time </label>
              <input id="cache" value='' [(ngModel)]="userObj.expiry" placeholder="Cache Validation Time" type="text" min=0 max=99 class="form-control" formControlName="cache" />
            </div>
            <div class="form-group">
                <button type="submit" [disabled]='!profileForm.valid' class="btn btn-primary m-t-md">Confirm</button>
                <button type="button" [disabled]='!profileForm.valid' class="btn btn-primary m-t-md">Cancel</button>
            </div>

          </form>
        </div>
      </div>
      <div class='col-md-3'></div>
    </div>
  </div>
</section>
